<header class="flex-header-wrapper">
  <nav class="flex-header">
    <a href="http://californiaartleague.org/" id="logo"><img src="{{ site.url }}{{ site.baseurl }}/images/CAL-logo.svg" width="134" height="150" alt="California Art League"></a>
    <a href="http://californiaartleague.org/">Home</a>
    <a href="http://californiaartleague.org/page-1328696">Join Us</a>
    <a href="http://californiaartleague.org/page-1328854">Subscribe to News</a>
    <a href="http://californiaartleague.org/page-1336597">Newsletters</a>
    <a href="http://californiaartleague.org/page-1328697">Events</a>
    <a href="http://californiaartleague.org/page-1328698">Roster</a>
    <a href="http://californiaartleague.org/page-1328701">News</a>
    <a href="http://californiaartleague.org/page-1328702">Contact</a>
    <a href="http://californiaartleague.org/page-1552336">Photo Album</a>
  </nav>
</header>