---
layout: cal-slideshow
title: California Art League | 2020 Change
redirect_from:
  - /
  - /exhibits/
---
<div class="row align-items-end m-t-3 m-b-3">
  <div class="col-xs-12 col-md-6 text-right">
    <a href="http://californiaartleague.org/" id="logo" class="hidden-xs"><img src="{{ site.url }}{{ site.baseurl }}/images/CAL-logo.svg" width="134" height="150" alt="California Art League"></a>
    <a href="http://californiaartleague.org/" id="logo" class="hidden-sm hidden-md hidden-lg"><img src="{{ site.url }}{{ site.baseurl }}/images/CAL-logo.svg" width="134" height="150" alt="California Art League"></a>
  </div>
  <div class="col-xs-12 col-md-6">
    <h1 class="m-t-3"><em>Change</em></h1>
    <p>
      2020 Online Show, juried by Preston Craig<br>
    </p>
    <p class="hidden"><a href="https://forms.gle/L79QFr6cFEuDaB4C7" target="_blank" class="btn btn-primary">Vote for the People's Choice Award</a></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <p>
      Hello Fellow Artists,
    </p>
    <p>
      I know if you’re like most artists that enter juried shows, you might wonder what goes into how an artist is selected for the exhibit and how the top picks are chosen. Having participated in exhibits like this myself, I know that thought has occurred to me on more than one occasion, especially after viewing the artwork that garnered prize recognition, and I think to myself, Really? Well, I’m going to try and give you a better picture on how I selected the work for the exhibit.
    </p>
    <p>
      First and foremost, I go with which artworks best expressed the theme of “Change.” That could be tongue-in-cheek or changes in seasons, time, attitude, environment, awareness, color, perspective, etc. Once I’ve made those selections, then it comes down to how well the artwork was executed, principles and elements of design, value choices, etc. This takes a lot of time and I had to make some tough decisions based on the parameters I set. I wish I had had more prizes to disseminate. I would like to have had the opportunity to view the original artwork before making my final selections. However, that was not possible so I had to rely on the digital images to make my selections. It is possible, that had I had the chance to view the originals, my selections may have differed somewhat. In any case, it is what it is.
    </p>
    <p>
      Lastly, there are some really great pieces in the exhibit that cover a variety of media. I hope that my selections are viewed favorably and that you now have a better feel for what goes into judging an exhibit. Thank you for the honor of viewing your work and trusting me to make the best selections that reflect the theme of “Change.” If you weren’t selected for a prize, know that out of approximately 157 entries, I selected 87 for the exhibit, so you are already a winner. Thank you for trusting my expertise.
    </p>
    <p>
      All the best to you all,
    </p>
    <p>
      Preston Craig, M.F.A., <a href="http://www.prestonfinearts.com/" target="_blank">www.prestonfinearts.com</a>, <a href="https://twistedteddys.com/" target="_blank">www.twistedteddys.com</a>
    </p>
  </div>
</div>

<ul class="gallery grid effect-2" id="grid">
  {% for piece in site.data.change2020 %}
    <li>
      <div>
        <img class="slide" src="{{ site.url }}{{ site.baseurl }}/images/2020-change/small/{{ piece.photo }}" alt="{{ piece.Title }}, {{ piece.FirstName }} {{ piece.LastName }}, {{ piece.Size }} {{ piece.Medium }} {{ piece.price }}" data-height="{{ piece.imgHeight }}" data-width="{{ piece.imgWidth }}">
        <h5 class="text-center">
          <em>{{ piece.Title }}</em><br>
          <small>
            <a href="{{ piece.Website }}" target="_blank">{{ piece.FirstName }} {{ piece.LastName }}</a>
            {{ piece.Size }} {{ piece.Medium }}<br>
            {{ piece.price }}
          </small>
        </h5>
        {% if piece.AWARD.size > 0 %}
          <p class="text-center"><small class="text-muted text-left"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;{{ piece.AWARD }}</small></p>
        {% endif %}
        {% if piece.video > "" %}
          <iframe class="hidden-sm hidden-xs" width="275" height="155" src="{{ piece.video }}" frameborder="0" allowfullscreen></iframe>
          <a href="{{ piece.video }}" target="_blank" class="hidden-md hidden-lg">See video</a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
<div class="row m-b-3">
  <div class="col text-center">
    Made with <span class="text-danger">&#10084;</span> by <a href="https://www.instagram.com/heartsbeach/" target="_blank">Jackie Johnston</a>
  </div>
</div>